.navbar-brand{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    width: 100%;
    height: 70px;
    background-color: #fdcbfd;
}

  .dropbtn {
      background-color: white;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: black;
      color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: white;}


  #background {
      padding-bottom: 50px;
        background-color: black;
  }

  p {
      color: white;
      padding-left: 20px;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-bottom: 20px; 
  }

  h1 {
    color: #fdcbfd;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Staatliches', cursive;

}

#zodiac {
margin-bottom: 70px;
font-family: 'Staatliches', cursive;
text-emphasis: bold;
font-size: 20px;
}

h2 {
    color: black;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    font-family: 'Staatliches', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.container {
    position: relative;
    width: 50%;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 400px;
    opacity: 0;
    transition: .5s ease;
    background-color:#fdcbfd;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  #month, #day {
    color: black;
  }

  #findsign {
    text-align: center;
    font-family: 'Staatliches', cursive;
  }

  #findsign:hover {
    background-color: white;
    color: black;
  }

  #whatsign {
    text-align: center;
    background-color: #fdcbfd;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
   
  }

  #whatsign p {
    color: black;
  }
  button {
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 10px;
  }

  button:hover {

  }

  .text {
    color: black;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #info {
    color: black;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  #retrograde {
      background-color: #fdcbfd;
      padding-top: 20px;
      padding-bottom: 50px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }

  #submit {

    text-align: center;
    font-family: 'Staatliches', cursive;
  }

  #submit:hover {
    background-color: white;
    color: black;
  }
  
  #output {
    font-family: 'Staatliches', cursive;
    text-emphasis: bold;
    font-size: 20px;
  }

  #tips {
      background-color: black;
      padding-bottom: 20px;
  }

  form {
      text-align: center;
  }

  #tip1, #tip2, #tip3, #tip4, #tip5, #tip6, #tip7 {
      color: white;
      font-family: 'Montserrat', sans-serif;
  }

  li {
      color: white;
  }
  h3 {
      padding-top: 10px;
      color: white;
      font-family: 'Staatliches', cursive;
  }

  #mercury {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  #footer {
    background-color: #fdcbfd;
    height: 100px;
  }
 